* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: aliceblue;
  margin: 1rem;
  font-family: 'Courier New', Courier, monospace;

  h1 {
    color: yellowgreen;
  }
}
